<%
var elapsed = (new Date().getTime() - stats.start) / 1000;
var minutes = parseInt(elapsed/60);
var seconds = parseInt(elapsed%60);
if (seconds < 10) { seconds = "0" + seconds; }
var prettyTime =  minutes + ":" + seconds;
%>
<div class='stat'>
  <span class='num'><%= (stats.messages / elapsed).toFixed(2) %></span>
  <span class='label'>messages/sec</span>
</div>
<div class='stat'>
  <span class='num'><%= prettyTime %></span>
  <span class='label'>elapsed</span>
</div>
<div class='stat'>
  <span class='num'><%= stats.messages %></span>
  <span class='label'>Messages</span>
</div>
<div class='stat'>
  <span class='num'><%= stats.nodes %></span>
  <span class='label'>Nodes</span>
</div>
<div class='stat'>
  <span class='num'><%= stats.streams %></span>
  <span class='label'>Streams</span>
</div>